<h1>See all your tickets</h1>
<% @tickets.each do |t| %>
    <p><li><%= link_to t.name, edit_ticket_path(t), method: "get" %> -
    <%= t.date %> -
    <%= t.artist %></li></p>
<% end %>

<%# <%= @tickets.venue.name %> 
