<h2>See all your tickets</h2>
<% @tickets.each do |t| %>
    <p><li><%= link_to t.name, edit_ticket_path(t), method: "get" %> -
    <%= t.date %> -
    <%= t.artist %> | Took place at <%= link_to t.venue.name, edit_venue_path(t), method: "get" %></li></p>
<% end %>

