<h2>All Venues</h2>
<% @venues.each do |v| %>
    <p><li><%= link_to v.name, edit_venue_path(v), method: "get" %> - <%= v.tickets.size %>
    Tickets related to this Venue</li></p> 
<% end %>

<%# <%= @venues.ticket.name %> 